@model Model.Album

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <h4>Album</h4>
    <hr />
    <div>
        @Html.LabelFor(model => model.Alb_Name)
        <div>
            @Html.EditorFor(model => model.Alb_Name)
            @Html.ValidationMessageFor(model => model.Alb_Name)
        </div>

    </div>




    <div>
        @Html.LabelFor(model => model.Alb_Mes)
        <div>
            @Html.EditorFor(model => model.Alb_Mes)
            @Html.ValidationMessageFor(model => model.Alb_Mes)
        </div>

    </div>
    <div>
        @Html.LabelFor(model => model.Alb_Pic)
        <div>
            <input type="file" name="albumimage" />
        </div>
    </div>
    <div>
        <input type="submit" value="创建相册" />
    </div>
</div>
}

<div>
    @Html.ActionLink("返回首页", "Index")
</div>
