@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Album>
@{
    ViewBag.Title = "Album";
 
}

<!DOCTYPE html>

<link href="~/Content/_share/User/assets/css/service.css" rel="stylesheet" />
<section class="section-background">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Index")">主页</a></li>

            <li class="active"><a href="@Url.Action("UserCenter","User")">&nbsp;用户中心</a></li>
            <li class="active">&nbsp; 我的相册</li>
        </ol>
    </div>
</section>
<section class="portfolio" id="portfolio">
    <div class="container section-wrapper">
        <h2 class="section-title black">
            我 的 相 册
        </h2>
        <div class="underline purple"></div>
        <div class="row">
            <div class="col-sm-1 col-xs-6">
                &nbsp;
            </div>
            <div class="col-sm-4 col-xs-6">

                <div class="portfolio-item">
                    <a href="@Url.Action("UserCenter","User")"><h2>  <span class="label label-primary">我的信息</span></h2></a>
                    <br />
                    <a href="@Url.Action("Album1","Album")"><h2>  <span class="label label-primary">我的相册</span></h2></a>
                    <br />
                    <a href="@Url.Action("Picture1","Picture")"><h2><span class="label label-primary">我的图片</span> </h2></a>
                    <br />
                    <a href="@Url.Action("Save","User")"><h2> <span class="label label-primary">我的收藏</span></h2></a>
                    <br />
                    <a href="@Url.Action("focusme","User")"><h2><span class="label label-primary">我的粉丝</span> </h2></a>
                    <br />
                    <a href="@Url.Action("focus","User")"><h2><span class="label label-primary">我关注的</span> </h2></a>
                </div>
            </div>
            <div class="col-sm-7 col-xs-6">

                @foreach (var p in Model)
                {
                    <div class="col-sm-4 col-xs-6">
                        <div>
                            <a href="@Url.Action("Details",new {id=p.Alb_ID})">
                                <img height="130" width="200" src="@p.Alb_Pic" />
                            </a>
                        </div>
                   
                        <div>
                            @p.Alb_Name
                        </div>
                        <br />
                        <div>
                            @p.Alb_Time
                        </div>
                        <div>

                            <a href="@Url.Action("Delete1","Album",new { id = p.Alb_ID})"><span class="label label-warning" style="float:right"> 删除</span></a>
                        </div>
                        </div>
                 }



                    </div>
                    <div style="float:right;">
                        <div>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        </div>
                        <div>
                            @Html.PagedListPager(Model, page => Url.Action("Album1", "Album", new { page }))
                        </div>
                    </div>

                </div>
    </div>
</section>
