<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/_share/Manager/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-black">
            <div class="layui-logo">
                <a href="@Url.Action("Index","Index")">
                    <span style="color:darkcyan">SEE后台管理系统</span>
                </a>
            </div>
            <!--头部区域，可配合水平导航-->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="@Url.Action("Index","Manager")">网站总览</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        @Session["Man_Name"]
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">我的信息</a></dd>
                        <dd><a href="#">升级申请</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        登出
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="@Url.Action("Login","Manager")">切换角色</a></dd>
                        <dd><a href="@Url.Action("LogOff","Manager")">退出系统</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!--左侧导航区，配合头部区域-->
                <!--lay-shrink="all"使得非焦点的下拉可以自动收起-->
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            <cite>用户管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("List","User")">用户查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-note"></i>
                            <cite>类别管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("Index","Picture_Type")">类别查询</a></dd>
                            <dd><a href="@Url.Action("Create","Picture_Type")">类别添加</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-camera"></i>
                            <cite>图片管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("List","Picture")">图片查询</a></dd>
                            <dd><a href="@Url.Action("Index","Pic_Comment")">图片评论</a></dd>
                            <dd><a href="@Url.Action("Index","Pic_Comment_Comment")">评论回复</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-dialogue"></i>
                            <cite>新闻管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("List","News")">新闻查询</a></dd>
                            <dd><a href="@Url.Action("Add","News")">新闻发布</a></dd>
                            <dd><a href="@Url.Action("Index","News_Comment")">新闻评论</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-carousel"></i>
                            <cite>相册管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("List","Album")">相册查询</a></dd>
                            <dd><a href="@Url.Action("Index","Album_Comment")">相册评论</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-speaker"></i>
                            <cite>活动管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("List","Activity")">活动查询</a></dd>
                            <dd><a href="@Url.Action("Add","Activity")">活动发布</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--主体部分-->
        <div class="layui-body">
            @RenderBody()
        </div>
        <!--底部固定区域-->
        <div class="layui-footer">

        </div>
    </div>

    <script src="~/Content/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate
            laydate.render({
                elem: '#stopdate'
            });
            laydate.render({
                elem: '#startdate'
            })
        });
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    </script>
</body>
</html>