@model IEnumerable<Model.Pic_Comment_Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}



<body class="app sidebar-mini rtl">

    <div class="app-title">
        <div class="div">
            <h1><i class="fa fa-dashboard"></i>评论回复管理</h1>
            <p>评论回复的管理很重要，不可有违规评论出现</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Pic_Comment_Comment")">评论回复</a></li>
        </ul>
    </div>
    <div class="tile mb-4">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PCC_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.User_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PC_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCC_Mes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCC_Time)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.User_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_Mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_Time)
                    </td>
                    <td>

                        @Html.ActionLink("删除", "Delete", new { id = item.PCC_ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
    
