@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Pic_Comment_Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="layui-bg-gray">
    <div>
        @using (Html.BeginForm("Index", "Pic_Comment_Comment", FormMethod.Post, new { @class = "search_form" }))
        {
            <span> <input class="form-control" type="text" name="search" placeholder="请输入关键字" style="height:25px">  </span>
        }
    </div>
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            评论回复
        </blockquote>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="150" />
            <col width="600" />
            <col width="200" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>回复人</th>
                <th>评论编号</th>
                <th>内容</th>
                <th>时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInfo.User_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_Mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCC_Time)
                    </td>
                    <td>
                        @Html.ActionLink("删除", "Delete", new { id = item.PCC_ID }, new { @class = "layui-btn layui-btn-danger layui-btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <div>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页  共 @Model.PageCount 页
            </div>
            <button class="layui-btn">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Pic_Comment_Comment", new { page }))
            </button>
        </div>
    </div>
</body>
</html>

    
