@model Model.User
    @{ 
        Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <script>
        $(function () {
            //用户名检测异步请求
            $('#UserName').blur(function () {
                $.ajax({
                    url: '@Url.Action("CheckUser","User")',
                    data: { UserName: $('#UserName').val() },
                    type: 'POST',
                    success: function (msg) {
                        $('#CheckUserResult').remove();
                        $('.CheckUserName').append("<span id='CheckUserResult'>" + msg + "</span>").css('color', '#00EE00');
                    }
                });
            });
     </script>
</head>
<body>
    <div>
        <div>
            <a href="@Url.Action("Index","Index")" title="SEE">

                <img src="~/images/logo.png" width="70" title="SEE" />
            </a>
        </div>
        <div>
            <div>
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <div>
                            用户名：
                            @Html.TextBoxFor(user => user.User_Name)
                            @Html.ValidationMessageFor(user => user.User_Name)
                        </div>
                        <div>
                            密码：
                            @Html.TextBoxFor(user => user.User_Pwd)
                            @Html.ValidationMessageFor(user => user.User_Pwd)
                        </div>
                        <div>
                            确认密码：
                            @Html.TextBoxFor(user => user.User_ConPwd)
                            @Html.ValidationMessageFor(user => user.User_ConPwd)
                        </div>
                        <div>
                            用户头像:
                             
                            <div>
                                <input type="file" name="image1" />
                            </div>
                        </div>
                        <div>
                            用户性别：
                            @Html.EditorFor(model => model.User_Sex)
                            @Html.ValidationMessageFor(model => model.User_Sex)
                        </div>
                        <div>
                            邮箱：
                            @Html.EditorFor(model => model.User_Ema)
                            @Html.ValidationMessageFor(model => model.User_Ema)
                        </div>
                        <div>
                            电话：
                            @Html.EditorFor(model => model.User_Pho)
                            @Html.ValidationMessageFor(model => model.User_Pho)
                        </div>
                        <div>
                            <div>
                                <input type="submit" value="创建" />
                            </div>
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("返回主页", "Index","Index")
                    </div>

                }
            </div>
        </div>
    </div>
</body>
</html>
