@model List<Model.Album_Save>
@{
    ViewBag.Title = "Save";
}
<div>
    <div>
         @foreach(var p in Model)
         {
             <img src="@p.Album.Alb_Pic" width="100" height="100" />
             @p.Album.Alb_Name
             @p.Album.Alb_Mes

             <a href="@Url.Action("Delete","Album_Save" ,new { id = @p.Album.Alb_ID})">取消收藏</a>
             
         }
    </div>
</div>

 