@model Model.News
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<html>

<head>
    <meta charset="utf-8" />
    @*百度富文本框*@
    <!-- 配置文件 -->
    <script src="~/utf8-net/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script src="~/utf8-net/ueditor.all.js"></script>
    <link href="~/utf8-net/themes/iframe.css" rel="stylesheet" />
    <script src="~/utf8-net/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        var editor = new baidu.editor.ui.Editor({
            autoHeightEnabled: true,//高度自动增长
            minFrameHeight: 500//最小高度
        });
        editor.render('editor');
    </script>



</head>


<body class="app sidebar-mini rtl">
        <div class="app-title">
            <div class="div">
                <h1><i class="fa fa-dashboard"></i>新闻发布</h1>
                <p>拒绝黑恶势力</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="@Url.Action("List","News")">新闻管理</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Add","News")">新闻添加</a></li>
            </ul>
        </div>
        <div class="tile mb-4">
            <div>
                @Html.ActionLink("返回新闻列表", "List")
            </div>
            <div>
                @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "")
                    <div>
                        @Html.LabelFor(model => model.News_Name)
                        <div>
                            @Html.EditorFor(model => model.News_Name)
                            @Html.ValidationMessageFor(model => model.News_Name)


                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.News_Pic)
                        <div>
                            <input type="file" name="newsimage" />
                        </div>
                    </div>

                    <div>
                        @Html.LabelFor(model => model.News_Mes)
                        <div>
                            <textarea id="editor" name="News_Mes"></textarea>
                        </div>

                    </div>
                    <div>
                        <div>
                            <input type="submit" value="发布新闻" />
                        </div>
                    </div>

                }

            </div>
        </div>
    
           

    </body>

</html>
