@model Model.News

@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<body class="layui-container">
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            新闻详细
        </blockquote>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs4  layui-col-md-offset1">
            <div>
                <div>
                    @if (string.IsNullOrEmpty(Model.News_Pic))
                    {
                        @:none
                    }
                    else
                    {
                        <img width="350" src="@Url.Content(Model.News_Pic)" alt="images" />
                    }
                </div>
            </div>
        </div>
        <div class="layui-col-xs5 ">
            <br /><br />
            <div style="font-size:25px;color:black;float:right;margin-right:10px;">
                @Html.DisplayFor(model => model.News_Name)
                <br /><br />
            </div>
            <div style="float:right;margin-right:10px;">
                    @Html.DisplayFor(model => model.News_Time)
                <br /><br />
            </div>
        </div>
        <hr style="margin-left:60px;margin-right:60px;margin-top:50px;" />
    </div>
    <div class="layui-row">
        <br /><br />
        <div class="layui-col-xs9  layui-col-md-offset1">
            <div>
                @Html.Raw(@Model.News_Mes)
            </div>
        </div>     
    </div>
</body>


