@model Model.News

@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body class="app sidebar-mini rtl">

    <div class="app-title">
        <div class="div">
            <h1><i class="fa fa-dashboard"></i>新闻详细</h1>
            <p>拒绝黑恶势力</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("List","News")">新闻管理</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Edit","News")">新闻修改</a></li>
        </ul>
    </div>
    <div class="tile mb-4">
        <div>
            @Html.ActionLink("返回列表", "List", "News")
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.News_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.News_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Man_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Man_ID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.News_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.News_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.News_Pic)
                </dt>

                <dd>
                    <div>
                        @if (string.IsNullOrEmpty(Model.News_Pic))
                        {
                            @:none
                        }
                        else
                        {
                            <img width="75" height="75" src="@Url.Content(Model.News_Pic)" alt="images" />
                        }
                    </div>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.News_Mes)
                </dt>

                <dd>
                    @Html.Raw(@Model.News_Mes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.News_Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.News_Time)
                </dd>

            </dl>
        </div> 
        <div class="form-group">
          @Html.ActionLink("修改", "Edit", new { id = Model.News_ID},new { @class= "btn btn - primary" })             
        </div>
    </div>
</body>
       
   
