@model Model.News

@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<body class="layui-container">
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            新闻详细
        </blockquote>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs4  layui-col-md-offset1">
            <div>
                <div>
                    @if (string.IsNullOrEmpty(Model.News_Pic))
                    {
                        @:none
                    }
                    else
                    {
                        <img width="350" src="@Url.Content(Model.News_Pic)" alt="images" />
                    }
                </div>
            </div>
        </div>
            <div class="layui-col-xs4 ">
                <br /><br />
                <div>
                    新闻ID: @Html.DisplayFor(model => model.News_ID)
                    <br /><br />
                </div>
                <div>
                    上传管理员ID: @Html.DisplayFor(model => model.Man_ID)
                    <br /><br />
                </div>
                <div>
                    新闻名: @Html.DisplayFor(model => model.News_Name)
                    <br /><br />
                </div>

                <div>
                    添加时间: @Html.DisplayFor(model => model.News_Time)
                    <br /><br />
                </div>
            </div>
        </div>
    <div class="layui-row">
        <br /><br />
              <div class="layui-col-xs9  layui-col-md-offset1">
                  <div>
                      新闻内容
                  </div>

                  <div>
                      @Html.Raw(@Model.News_Mes)
                  </div>
              </div>
     
    </div>
            @*@Html.ActionLink("修改", "Edit", new { id = Model.News_ID }, new { htmlAttributes = new { @class = "layui-btn layui-btn-normal" } })*@
</body>


