@using PagedList.Mvc;
@model PagedList.IPagedList<Model.News>

@{
    ViewBag.Title = "List";
            Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body class="layui-bg-gray">   
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            新闻管理
        </blockquote>
    </div>
    <div class="layui-col-md4 layui-col-md-offset8">
        <div>
            @using (Html.BeginForm("List", "News", FormMethod.Post, new { @class = "search_form" }))
            {
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span> <input class="form-control" type="text" name="search" placeholder="请输入关键字" style="height:25px">  </span>
                            <button class="layui-btn layui-btn-sm">搜索</button>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
    <table class="layui-anim layui-anim-scale layui-table">
        <colgroup>
            <col width="100" />
            <col width="130" />
            <col width="300" />
            <col width="200" />
            <col width="200" />
            <col width="80" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>上传管理员</th>
                <th>新闻名</th>
                <th>封面</th>
                <th>上传时间</th>
                <th>评论数</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.News_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.Man_Name)
                    </td>
                    <td>
                        @Html.Raw(@Html.DisplayFor(modelItem => item.News_Name))
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.News_Pic))
                        {
                            @:none
                        }
                        else
                        {
                            <img height="75" src="@Url.Content(item.News_Pic)" alt="images" />
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.News_Time)
                    </td>
                    <td>
                        @item.News_Comment.Count()
                    </td>
                    <td>
                        @*@Html.ActionLink("修改", "Edit", new { id = item.News_ID },new { @class="layui-btn layui-btn-sm"})*@
                        @Html.ActionLink("查看详细", "Details2", new { id = item.News_ID }, new { @class = "layui-btn layui-btn-normal layui-btn-sm" })
                        @Html.ActionLink("删除", "Delete", new { id = item.News_ID }, new { @class = "layui-btn layui-btn-danger layui-btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <div>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页  共 @Model.PageCount 页
            </div>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("List", "News", new { page }))
            </div>
        </div>
    </div>
</body>
</html>
