@using Model
@model Common.PagingHelper<News>

@{
    ViewBag.Title = "List";
            Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<html>
<head>
    
</head>
<body class="app sidebar-mini rtl">
    <div class="app-title">
        <div class="div">
            <h1><i class="fa fa-dashboard"></i>新闻管理</h1>
            <p>自己个儿的新闻别人也可以删除</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("List","News")">新闻管理</a></li>
 
        </ul>
    </div>
    <div class="tile mb-4">
        <table class="table">
            <tr>
                <th>
                    新闻ID
                </th>
                <th>
                    上传的管理员ID
                </th>
                <th>
                    新闻名
                </th>
                <th>
                   新闻封面
                </th>
                
                <th>
                   上传时间
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.GetPagingData())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.News_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Man_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.News_Name)
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.News_Pic))
                        {
                            @:none
                        }
                        else
                        {
                            <img width="75" height="75" src="@Url.Content(item.News_Pic)" alt="images" />
                        }

                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.News_Time)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.News_ID }) |
                        @Html.ActionLink("查看详细", "Details2", new { id = item.News_ID }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.News_ID })
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @if (Model.HasPrev)
                    {
                        <td><a href="@Url.Action("List","News",new { pageIndex = Model.PageIndex - 1 })">上一页</a></td>
                    }
                    else
                    {
                        <td><em style="color:dimgray">上一页</em></td>
                    }
                    @if (Model.HasNext)
                    {
                        <td>
                            <a href="@Url.Action("List", "News", new { pageIndex = Model.PageIndex + 1 })">下一页</a>
                        </td>
                    }
                    else
                    {
                        <td><em style="color:dimgray">下一页</em></td>
                    }
                </tr>
            </tfoot>

        </table>
    </div>
      
</body>
</html>
