@model Model.Manager
    @{ 
        ViewBag.Title = "Add";
    }
@using (Html.BeginForm("Add", "Manager", FormMethod.Post, new { enctype = "multipart/form-date" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model=>model.Man_Name)
        <div>
            @Html.EditorFor(model=>model.Man_Name)
            @Html.ValidationMessageFor(model=>model.Man_Name)
        </div>
    </div>
    <div>
         @Html.LabelFor(model => model.Man_Pas)
        <div>
            @Html.EditorFor(model => model.Man_Pas)
            @Html.ValidationMessageFor(model => model.Man_Pas)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="创建" />
        </div>
    </div>
}