@model Model.Manager
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<body class="layui-body">
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            管理员修改
        </blockquote>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            @using (Html.BeginForm("Edit", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                @Html.AntiForgeryToken()
                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-lg-offset3">
                        <div>
                            <hr />
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Man_ID)
                            <div>
                                <label class="layui-form-label">管理员名</label>
                                <div class="layui-input-block">
                                    @Html.EditorFor(model => model.Man_Name, new { htmlAttributes = new { @class = "layui-input-block" } })
                                    @Html.ValidationMessageFor(model => model.Man_Name)
                                </div>
                            </div>
                            <div>
                                <br /><br />
                            </div>
                            <div>
                                <label class="layui-form-label">管理员密码</label>
                                <div class="layui-input-block">
                                    @Html.EditorFor(model => model.Man_Pas, new { htmlAttributes = new { @class = "layui-input-block" } })
                                    @Html.ValidationMessageFor(model => model.Man_Pas)
                                </div>
                            </div>
                            <div>
                                <div style="float:right;margin-top:20px;margin-right:50px;">
                                    <input type="submit" class="layui-btn layui-btn-normal" value="确定" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>
</body>

   