@model Model.Picture_Type
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body >
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            类别添加
        </blockquote>
    </div>
    <div class="layui-form">
        @using (Html.BeginForm("Create", "Picture_Type", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "")
                <div>
                    <label class="layui-form-label">
                        类型名称
                    </label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "layui-input" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
            </div>
            <div><br /><br /><br /></div>
            <div class="layui-row">
                <div class="layui-col-md4 layui-col-md-offset4">
                    <button type="submit" class="layui-btn">
                        添加
                    </button>
                    <button class="layui-btn">
                        @Html.ActionLink("返回查询", "Index")
                    </button>
                </div>
            </div>
        }
    </div>
</body>
        
     
