@model Model.Picture_Type
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body class="app sidebar-mini rtl">
    <div>
        <div class="app-title">
            <div class="div">
                <h1><i class="fa fa-dashboard"></i>类别添加</h1>
                <p>在此处创建合理的类别，让用户能够有更好的体验</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Picture_Type")">类别List</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Create","Picture_Type")">类别添加</a></li>
            </ul>
        </div>
        <div class="tile mb-4">
            <div>
                @Html.ActionLink("返回列表", "Index")
            </div>
            
            <div class="form-group has-success">
                @using (Html.BeginForm("Create", "Picture_Type", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.ValidationSummary(true, "")
                        <div>
                            @Html.LabelFor(model => model.Name,new { @class="form-control-label" } )
                            <div>
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div >
                                <input type="submit" value="添加" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</body>
        
     
