@model Model.Picture_Type
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body class="layui-body">
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            类名修改
        </blockquote>
    </div>
    <div class="layui-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "")
                @Html.HiddenFor(model => model.TID)
                <div>
                    <label class="layui-form-label">
                        @Html.Label("类型ID")
                    </label>
                    <label class="layui-form-label layui-bg-gray">
                        @Html.DisplayFor(model => model.TID)
                    </label>
                    <label class="layui-form-label">
                        @Html.Label("分类名称")
                    </label>
                    <div class="layui-input-inline">
                        @Html.EditorFor(model => model.Name,new {@class="layui-inline"})
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                 
                </div>
            </div>
            <div><br /><br /><br /> </div>
            <div class="layui-row">
                <div class="layui-col-md4 layui-col-md-offset4">
                    <button type="submit" class="layui-btn">
                        修改
                    </button>
                    <button class="layui-btn">
                        @Html.ActionLink("返回查询", "Index")
                    </button>
                </div>
            </div>
        }
    </div>
</body>
      
          
