@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Picture_Type>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body class="layui-body">
    <div>
        @using (Html.BeginForm("Index", "Picture_Type", FormMethod.Post, new { @class = "search_form" }))
        {
            <span> <input class="form-control" type="text" name="search" placeholder="请输入关键字" style="height:25px">  </span>
        }
    </div>
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            类别查询
        </blockquote>
    </div>
    <div class="layui-col-md4  ">
        <button class="layui-btn">
            @Html.ActionLink("创建分类", "Create")
        </button>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="100" />
            <col width="300" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>类名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TID)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.TID }, new { @class = "layui-btn layui-btn-sm" })
                        @Html.ActionLink("删除", "Delete", new { id = item.TID }, new { @class = "layui-btn layui-btn-danger layui-btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <div>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页  共 @Model.PageCount 页
            </div>
            <button class="layui-btn">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Picture_Type", new { page }))
            </button>
        </div>
    </div>
</body>
    
    

