@model IEnumerable<Model.Album_Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AC_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alb_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AC_Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AC_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AC_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alb_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC_Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC_Time)
        </td>
        <td>
            
            @Html.ActionLink("删除", "Delete", new { id=item.AC_ID })
        </td>
    </tr>
}

</table>
