@using PagedList.Mvc;
@model PagedList.IPagedList<Model.News_Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>
<html lang="en"> 
<head></head>
<body class="layui-body">
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            新闻评论查询
        </blockquote>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="550" />
            <col width="200" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>评论人</th>
                <th>新闻编号</th>
                <th>评论内容</th>
                <th>评论时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.News_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NC_Mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NC_Time)
                    </td>
                    <td>
                        @Html.ActionLink("查看详细", "Details", new { id = item.NC_ID },new { @class="layui-btn layui-btn-sm"}) 
                        @Html.ActionLink("删除", "Delete", new { id = item.NC_ID },new { @class="layui-btn layui-btn-danger layui-btn-sm"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <div>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页  共 @Model.PageCount 页
            </div>
            <button class="layui-btn">
                @Html.PagedListPager(Model, page => Url.Action("Index", "News_Comment", new { page }))
            </button>
        </div>
    </div>
</body>
</html>


       
