@model Model.Picture
@{
    ViewBag.Title = "Create";
}

 


<section class="section-background">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Index")">主页</a></li>
            <li class="active"><a href="@Url.Action("Index","Picture")">&nbsp;图片主页</a></li>
            <li class="active"><a href="#">图片上传</a></li>
        </ol>


    </div>
</section>
<section class="about" id="about" style="background: #f3f3f3;">
    <div class="container section-wrapper">
        <h2 class="section-title black">
            Update Your Picture
        </h2>
        <div class="underline purple"></div>

        @using (Html.BeginForm("AfterCreate", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div class="form-horizontal">
                <div class="col-sm-3 col-xs-12 form-group">
                    &nbsp;
                </div>
                <div class="col-sm-3 col-xs-12 form-group">
                    &nbsp;
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    <lable>图片文件：</lable>
                        <div>
                            <input type="file" name="image" />
                        </div>
                    <br /><br />
                    <label>图片类型</label>
                    <div>
                        @Html.DropDownListFor(model => model.TID, ViewBag.picturetype as SelectList, "请选择类型")<br />
                        @Html.ValidationMessageFor(model => model.TID, "")
                    </div>
                    <br /><br />
                    <div>
                        <div>
                           <label>图片名称</label>
                            <div>

                                @Html.EditorFor(model => model.Pic_Mes,new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Pic_Mes)
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    &nbsp;
                </div> <div class="col-sm-4 col-xs-12 form-group">
                    &nbsp;
                </div>
                
                       <div class="col-sm-4 col-xs-12 form-group">

                           <br />
               
                               <input type="submit" value="发表图片" class="btn" />

                      

                       </div>
            </div>
        }


    </div>
</section>

