@model Model.Picture
@{
    ViewBag.Title = "Create";
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<section class="section-background">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Index")">主页</a></li>
            <li class="active"><a href="@Url.Action("Index","Picture")">&nbsp;图片主页</a></li>
            <li class="active"><a href="#">图片上传</a></li>
        </ol>


    </div>
</section>
<section class="about" id="about" style="background: #f3f3f3;">
    <div class="container section-wrapper">
        <h2 class="section-title black">
            上 传 图 片
        </h2>
        <div class="underline purple"></div>

        @using (Html.BeginForm("AfterCreate", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div class="form-horizontal">
                <div class="col-sm-3 col-xs-12 form-group">
                    &nbsp;
                </div>
                <div class="col-sm-2 col-xs-12 form-group">
                    &nbsp;
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div>
                                
                                <input type="file" name="image" placeholder="选择图片" />
                            </div>
                            <br /><br />
                            <div>
                                <div>
                                    @Html.EditorFor(model => model.Pic_Mes, new { htmlAttributes = new { @class = "layui-input", placeholder = "请输入图片名称" } })
                                    @Html.ValidationMessageFor(model => model.Pic_Mes)
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            @Html.DropDownListFor(model => model.TID, ViewBag.picturetype as SelectList, "请选择类型", new { @class = "form-first-name form-control" })<br />
                            @Html.ValidationMessageFor(model => model.TID, "")
                        </div>
                    </div>
                    <div style="float:right;margin-top:30px;">
                        <input type="submit" value="发表图片" class="btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</section>

