@using PagedList.Mvc
@using Model
@model SEEWeb.ViewModel.PictureViewModel
@{
    ViewBag.Title = "Details";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/_share/User/assets/css/contact.css" rel="stylesheet" />
    <title></title>
    <style>
        .row #show div img {
            height:auto;
            max-width:100%;
        }
           
    </style>
    <script>
        var sum;
        var succ;
        function asypoint(pot) {
            $.ajax({
                url: "/Picture/Point",
                async: false,
                type: "post",
                data: { Pic_ID: pot },
                dataType: "json",
                success: function (list) {
                    var data = eval(list);
                    $("#sum").val(data[0].sum);
                    if (data[0].succ == 1) {
                        alert("你已经点过赞了哦！");
                    } else {
                        alert("点赞成功！");
                    }
                }
            });    
        }    

        function unLogin() {
            alert("你还没有登录哦");
        }
    </script>
</head>

<body>

    <section class="section-background">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Index")">主页</a></li>
                @if (Session["UID"] == null)
                {
                    <li class="active"><a href="@Url.Action("Index","Picture")">&nbsp;图片主页</a></li>
                    <li class="active">&nbsp;图片详细</li>

                }
                else
                {
                    <li class="active"><a href="@Url.Action("Index","Picture")">&nbsp;图片主页</a></li>
                    <li class="active">&nbsp;图片详细</li>
                    <li style="float:right;"><a href="@Url.Action("Picture1","Picture")">我的图片</a></li>
                    <li style="float:right">@Html.ActionLink("上传图片", "Create", "Picture")  </li>
                }

            </ol>


        </div>
    </section>
    <section class="portfolio" id="about" style="background: #f3f3f3;">
        <div class="container-fluid section-wrapper">
            <div class="row">
                <div id="show">
                    <div class="col-md-9 col-sm-9">
                        <img style="object-fit: cover;width:1000px;" src="@Model.Picture1.Pic_Pic"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p class="about-detail">
                            上传人: <a href="@Url.Action("UserIndex","User",new {UID=Model.Picture1.UserInfo.UID})">
                                @Model.Picture1.UserInfo.User_Name
                            </a>
                            <br />
                            <br />
                            <br />

                            图片简介:  @Model.Picture1.Pic_Mes
                            <br />
                            <br />
                            <br />
                        </p>
                        <p class="about-detail">
                            上传时间:@Model.Picture1.Pic_Time
                            <br />
                            <br />
                            <br />
                        </p>
                        <a class="btn btn-primary" role="button" href="@Model.Picture1.Pic_Pic" download="@Model.Picture1.Pic_Mes">下载到本地</a>                         
                        <p class="about-detail">

                            @if (Session["User_Name"] != null)
                            {
                                <button onclick="asypoint(@Model.Picture1.Pic_ID)">
                                    <span class="btn-outline-info">点赞 </span>
                                </button>
                                <input id="sum" type="text" value="@Model.Pic_Point.Count()" ></input>
                            }
                            else
                            {
                                <button onclick="unLogin()">
                                    <span class="btn-outline-primary">点赞(@Model.Pic_Point.Count()) </span>
                                </button>
                            }
                            <br />
                            <br />
                        </p>
                        <p class="about-detail">
                            <a href="@Url.Action("Add", "Picture_In_Album", new {Pic_ID=Model.Picture1.Pic_ID})"> <span>收藏到相册</span></a>
                            <br />
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="row">
            <div class="container section-wrapper">
                @using (Html.BeginForm("Comments", "Pic_Comment", FormMethod.Post, new { id = "pinglun" }))
                {
                    <div class="col-md-12 col-xs-12 form-group">
                        <label class="sr-only">评论</label>
                        <textarea class="textarea form-control" style="height:100px" name="textarea" placeholder="写下评论"></textarea>
                    </div>
                    <input type="hidden" name="picid" value="@Model.Picture1.Pic_ID" />
                    if (Session["UID"] != null)
                    {
                        <input type="submit" value="发表评论" class="btn btn-sub" style="float:right" />


                    }
                    else
                    {

                        <input type="submit" value="发表评论" class="btn btn-sub" style="float:right" />

                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="container section-wrapper">
                <div class="col-md-12 col-xs-12 form-group">

                    <div>
                        @{ string tempid;}
                        @foreach (Pic_Comment p in Model.Pic_Comment)
                        {
                            tempid = "dev" + p.PC_ID;

                        <div style="float:left;margin-right:20px;">
                            <a href="@Url.Action("UserIndex","User",new {UID=p.UserInfo.UID})"><img src="@p.UserInfo.User_Img" height="70" width="70" /></a>
                        </div>
                            <div style=" background: #f2fbf2;color: #666;padding: 2px 4px;">
                                <span>    @p.PC_Time</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("UserIndex","User", new {UID=p.UID})">@p.UserInfo.User_Name</a>
                            </div>


                            <p> @p.PC_Mes</p>
                            <button class="btn btn-xs btn-default" style="float:right" onclick="document.getElementById('@tempid').style.display = document.getElementById('@tempid').style.display == '' ? 'none' : ''">回复</button>
                            <div id="@tempid" style="display:none;">
                                @using (Html.BeginForm("ReplyComments", "Pic_Comment_Comment", new { PC_ID = p.PC_ID }, FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
                                {
                                    <div class="PostRly01">
                                        <textarea style="resize:none;" class="form-control" rows="3" name="textarea1" placeholder="我也要简单说两句"></textarea>
                                    </div>
                                    <div class="PostRly02">
                                        <div class="Rly02-A">

                                        </div>
                                        <div class="Rly02-B" style="float:right">
                                            @if (Session["UID"] != null)
                                            {
                                                <input type="submit" value="提交" class="btn btn-xs btn-default" />
                                            }
                                            else
                                            {

                                                <input onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;" type="button" value="提交">
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <br /> <hr />
                            <div>
                                @foreach (Model.Pic_Comment_Comment B in p.Pic_Comment_Comment.Where(c => c.PC_ID == p.PC_ID).ToList().AsReadOnly())
                                {
                                    <br />
                                    <div style="height:auto">

                                        <div style="float:left;margin-right:20px;margin-left:50px;">
                                            <a href="@Url.Action("UserIndex","User",new {UID=p.UserInfo.UID})"> <img src="@B.UserInfo.User_Img" height="70" width="70" /></a>
                                        </div>
                                        <div style=" background:#c7e0ed ;color: #666;padding: 2px 4px; margin-left:80px;">
                                            <span>    @B.PCC_Time</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;   <a href="@Url.Action("UserIndex","User",new {UID=p.UserInfo.UID})">@B.UserInfo.User_Name </a> 回复  <a href="@Url.Action("UserIndex","User",new {UID=p.UserInfo.UID})">@B.Pic_Comment.UserInfo.User_Name</a>
                                        </div>
                                        @B.PCC_Mes
                                        <br />
                                    </div>
                                    <br /><hr style="margin-left:50px;" />
                                }
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
              

                <div>

                </div>
</body>
</html>