@using Model
@model Common.PagingHelper<Picture>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body class="app sidebar-mini rtl">

    <div class="app-title">
        <div class="div">
            <h1><i class="fa fa-dashboard"></i>图片管理</h1>
            <p>严格的审核，能够让我们的网站更加的安全和正规，避免黄暴很重要</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("List","Picture")">图片List</a></li>
        </ul>
    </div>
    <div class="tile mb-4">
        <div>


           
            <table class="table">
                <thead>
                    <tr>
                        <th>图片ID</th>
                        <th>用户ID</th>
                        <th>用户姓名</th>
                        <th>图片</th>
                        <th>图片描述</th>
                        <th>图片分类</th>
                        <th>上传时间</th>
                        <th>获赞数</th>
                        <th>评论数</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GetPagingData())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pic_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserInfo.User_Name)
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.Pic_Pic))
                                {
                                    @:none
                                }
                                else
                                {
                                    <img width="75" height="75" src="@Url.Content(item.Pic_Pic)" alt="images" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pic_Mes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Picture_Type.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pic_Time)
                            </td>
                            <td>
                                @item.Pic_Point.Count()

                            </td>
                            <td>
                                @item.Pic_Comment.Count()
                            </td>
                            <td>
                                @Html.ActionLink("删除", "Delete", new { id = item.Pic_ID })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        @if (Model.HasPrev)
                        {
                            <td><a href="@Url.Action("List", "Picture", new { pageIndex = Model.PageIndex - 1 })">上一页</a></td>
                        }
                        else
                        {
                            <td><em style="color:Gray">上一页</em></td>
                        }
                        @if (Model.HasNext)
                        {
                            <td><a href="@Url.Action("List", "Picture", new { pageIndex = Model.PageIndex + 1 })">下一页</a></td>
                        }
                        else
                        {
                            <td><em style="color:Gray">下一页</em></td>
                        }
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</body>
     
