@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Picture>
@{
    ViewBag.Title = "Picture";
    Layout = null;
}
<style>
    #Div1 {
        display: flex;
        flex-wrap: wrap;
    }

        #Div1::after {
            content: '';
            flex-grow: 999999999;
        }

        #Div1 div {
            margin: 2px;
            background-color: violet;
            position: relative;
        }

            #Div1 div i {
                display: block;
            }

            #Div1 div img {
                position: absolute;
                top: 0;
                width: 100%;
                vertical-align: bottom;
            }
</style>
<section class="portfolio" id="portfolio" style="margin:-60px;">
    <div id="Div1">
        @foreach (var p in Model)
        {
            {
                var divWidth = p.Pic_Width * 200;
                var divSize = divWidth / p.Pic_Height;
                var divPx = divSize + "px";
                double iSize = ((double)Convert.ToDouble(p.Pic_Height) / (double)Convert.ToDouble(p.Pic_Width)) * 100;
                var sSize = iSize + "%";
                ViewBag.divSize = divSize;
                ViewBag.divPx = divPx;
                ViewBag.iSize = sSize;
            }
            <div style="width:@ViewBag.divPx;flex-grow:@ViewBag.divSize">
                <i style="padding-bottom:@ViewBag.iSize"></i>
                <a href="@Url.Action("Details", new { id = p.Pic_ID })">
                    <img src="@p.Pic_Pic" />
                </a>
            </div>
        }
    </div>
</section>
<div class="container">
    <div style="float:right">
        第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页 / 共 @Model.PageCount 页
        <br />
        @Html.PagedListPager(Model, page => Url.Action("Index", "Picture", new { page }))
    </div>
</div>

